<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Imitato Gamemaster</title>
    <!-- jquery -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
  </head>
  <body>

    <img src="../imitato.png"/>
    <h2>Imitato Gamemaster</h2>
    <p>Set up a game of Imitato, a fun game where you imitate ideas with your friends and have the computer guess.</p>

    <div>
        <button id="createGameButton">Create game</button>
        gameId:
        <input id="gameIdBox" value="gameId"/>
        <button id="getGameButton">Get game</button>
    </div>
    <script>
        (() => {
            const createGameButton = document.getElementById('createGameButton')
            const getGameButton = document.getElementById('getGameButton')
            const gameIdBox = document.getElementById('gameIdBox')

            function getGame() {
                var gameId = gameIdBox.value

                var data = new FormData();

                var xhr = new XMLHttpRequest();
                xhr.withCredentials = true;

                xhr.addEventListener("readystatechange", function () {
                    if (this.readyState === 4) {
                    console.log(this.responseText);
                    }
                });

                xhr.open("GET", "/imitato/game?=" + gameID);
                xhr.setRequestHeader("cache-control", "no-cache");

                xhr.send(data);
            }

            function createGame() {
                var data = new FormData();

                var xhr = new XMLHttpRequest();
                xhr.withCredentials = true;

                xhr.addEventListener("readystatechange", function () {
                    if (this.readyState === 4) {
                        console.log(xhr.response);
                        console.log(this.responseText);
                    }
                });

                xhr.open("GET", "/imitato/game?=" + gameID);
                xhr.setRequestHeader("cache-control", "no-cache");

                xhr.send(data);
            }

            createGameButton.addEventListener('click', event => {
                createGame();
                getGame();
                event.preventDefault()
            }, false)
            
            getGameButton.addEventListener('click', event => {
                getGame()
                event.preventDefault()
            }, false)
        })()
      </script>

  </body>
</html>