<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Player</title>
  <style>
    body {
      margin: 0;
    }

    #canvas {
      display: none;
    }
  </style>
</head>

<body>
  <div class="container">
    <div>
      <video id="video" autoplay playsinline>Video stream not available.</video>
      <input id="userIdBox" value="mrs"/>
      <button id="button">Take photo</button>
      <button id="submit">Submit photo</button>
    </div>
    <div>
      <img id="photo" alt="The screen capture will appear in this box.">
      <canvas id="canvas"></canvas>
    </div>
  </div>
  <script>
    (() => {
      const video = document.getElementById('video')
      const canvas = document.getElementById('canvas')
      const photo = document.getElementById('photo')
      const button = document.getElementById('button')
      const userIdBox = document.getElementBy('userIdBox')
      function makeid() {
        var text = "";
        var possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

        for (var i = 0; i < 5; i++)
          text += possible.charAt(Math.floor(Math.random() * possible.length));

        return text;
      }
      userIdBox.setAttribute('value', 'mrs' + makeid())

      let streaming = false

      function takePicture() {
        const width = video.videoWidth
        const height = video.videoHeight

        const context = canvas.getContext('2d')
        if (width && height) {
          canvas.width = width
          canvas.height = height
          context.drawImage(video, 0, 0, width, height)

          const data = canvas.toDataURL('image/png')
          photo.setAttribute('src', data)
        } else {
          clearPhoto()
        }
      }

      function submitPicture() {
        const width = video.videoWidth
        const height = video.videoHeight

        const context = canvas.getContext('2d')
        if (width && height) {
          canvas.width = width
          canvas.height = height
          context.drawImage(video, 0, 0, width, height)

          const imageData = canvas.toDataURL('image/png')

          var data = new FormData();

          data.append("image", data);
          data.append("userId", userIdBox.getAttribute());
          data.append("gameId", "PEQMLT");
          data.append("round", "1");

          var xhr = new XMLHttpRequest();
          xhr.withCredentials = true;

          xhr.addEventListener("readystatechange", function () {
            if (this.readyState === 4) {
              console.log(this.responseText);
            }
          });

          xhr.open("POST", "http://localhost:3000/imitato/game/round/submit");
          xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
          xhr.setRequestHeader("cache-control", "no-cache");
          xhr.setRequestHeader("Postman-Token", "ce85b588-ed0d-4e3d-9f23-92e4637f39af");

          xhr.send(data);
        }
      }

      function clearPhoto() {
        const context = canvas.getContext('2d')
        context.fillStyle = "#AAA"
        context.fillRect(0, 0, canvas.width, canvas.height)

        const data = canvas.toDataURL('image/png')
        photo.setAttribute('src', data)
      }

      video.addEventListener('canplay', event => {
        if (!streaming) {
          canvas.setAttribute('width', video.videoWidth)
          canvas.setAttribute('height', video.videoHeight)

          streaming = true
        }
      }, false)

      button.addEventListener('click', event => {
        takePicture()
        event.preventDefault()
      }, false)

      navigator.mediaDevices.getUserMedia({
        audio: true,
        video: { facingMode: "user" }
      })
        .then(stream => {
          video.srcObject = stream
          video.onloadedmetadata = event => {
            video.play()
          }
        })
        .catch(error => console.error(error))
    })()
  </script>
</body>

</html>
